.fondo{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fuente{
    font-family: 'Sriracha', cursive;
}

.menu{
    position: sticky;
    top:0;
}

.galeria{
    background-image: url(https://img.freepik.com/foto-gratis/marron-beige-crema-claro-lujo-abstracto-como-fondo-modelo-textura-seda-algodon_1258-71591.jpg?w=360);
    background-repeat: no-repeat;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
}